* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen', 'Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue', sans-serif;
  background: #191c21;
  color: #f7f7f7;
  height: 100%;
}

h1,
h2 {
  letter-spacing: -.067rem;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: .5rem;
}

body > section {
  flex: 1 0 33%;
  text-align: center;
  background: rgba(0,0,0,0.15);
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

section > h1 {
  margin: 0;
  font-size: 5em;
  font-weight: 700;
}

section > h2 {
  opacity: .2;
  margin: 2rem 0 0 0;
}

.intro {
  text-align: center;
  padding: 100px 50px 0 50px;
}

.intro h1 {
  font-size: 4em;
  font-weight: 700;
}

.intro p {
  max-width: 768px;
  margin-top: 2rem;
  color: #a6a6a6;
}

.intro p a {
  color: #ececec;
  background: #15191f;
  display: block;
  padding: 1rem;
  border-radius: 4px;
}
